<mat-sidenav-container class="sidenav-container">
<mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <a mat-list-item [routerLink]="ht.pathSecuredHome">Home</a>
        <a mat-list-item [routerLink]="ht.pathSecuredCreateStory">Create a story</a>
        <a mat-list-item [routerLink]="ht.pathSecuredFileManager">Files</a>
    </mat-nav-list>
    <a class="help-a" [href]="helpUrl" mat-raised-button color="primary" target="_blank">Help & How to</a>
    <pre>&nbsp;<small>v{{version}}</small> Made by <a href="https://twitter.com/jonwolfdev" target="_blank">@jonwolfdev</a>
&nbsp;<a href="mailto:jonwolfdev@gmail.com">(email)</a></pre>
</mat-sidenav>
<mat-sidenav-content>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>{{generalElements.headerTitle}}</span>
            <span class="mat-toolbar-spacer"></span>
            <button mat-button aria-label="Logout button" (click)="logout()">
                <mat-icon>logout</mat-icon> Logout
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet (activate)="onRuterActive($event)"></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
  