<mat-card *ngIf="formComponent?.hasUnexpectedError" class="mat-card-error">
    Unkown error
</mat-card>
<mat-card *ngIf="formComponent?.hasBadRequestFromServerError" class="mat-card-error">
    Bad request error (validate your input)
</mat-card>
<mat-card *ngIf="formComponent?.hasSessionExpiredError" class="mat-card-error">
    Your session has expired. Please log out and log back in
</mat-card>
<mat-card *ngIf="formComponent?.customErrorText !== null" class="mat-card-error">
    {{formComponent?.customErrorText}}
</mat-card>
<mat-card *ngIf="formComponent?.customSuccessText !== null" class="mat-card-success">
    {{formComponent?.customSuccessText}}
</mat-card>
<ng-content select="[form-error-default]"></ng-content>