<div fxLayout="column" fxLayoutAlign="center center">
    <app-form-errors class="default-form" [formComponent]="this"></app-form-errors>
    <mat-card class="default-form">
        <!-- for overlay to work, must be inside a position:relative div -->
        <app-loader-overlay [formComponent]="this"></app-loader-overlay>
        <mat-card-header>
            <mat-card-title>
                {{controls.titleControl.value}}
            </mat-card-title>
        </mat-card-header>
        <form [formGroup]="form">
            <mat-card-content>
                <mat-form-field appearance="standard" color="accent">
                    <mat-label>Title</mat-label>
                    <input matInput type="text" [formControl]="controls.titleControl" name="update-story-scene-name">
                    <mat-error>Valid title is required</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end" class="dialog-buttons">
                <!-- btn has no disable feature because of browser autofill issue -->
                <app-submit-btn [formComponent]="this" [options]="createSubmitBtnOptions(true, 'Save changes')"></app-submit-btn>
                <button mat-raised-button color="primary" (click)="addCommand()">
                    Add command
                </button>
            </mat-card-actions>
        </form>
        <mat-card *ngIf="model.storySceneCommands.length > 0">
            <mat-card-header>
                <mat-card-subtitle>Commands <small>click to edit</small></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <button class="command-button" *ngFor="let cmd of model.storySceneCommands" mat-raised-button color="primary" (click)="editCommand(cmd)">
                    {{cmd.title}}
                </button>
            </mat-card-content>
        </mat-card>
    </mat-card>    
</div>