<div fxLayout="column" fxLayoutAlign="center center">
    <app-form-errors class="full-content" [formComponent]="this"></app-form-errors>
    <mat-card class="full-content-card">
        <!-- for overlay to work, must be inside a position:relative div -->
        <app-loader-overlay [formComponent]="this"></app-loader-overlay>
        <mat-card-header>
            <mat-card-title>Stories <span class="card-title-desc">Click on a row to edit a story</span></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p *ngIf="dataSource.data.length == 0 && !isLoading">
                <a mat-stroked-button [routerLink]="ht.pathSecuredCreateStory">No stories created so far! Click here to start creating one</a>
            </p>
            <mat-form-field class="full-form-field" appearance="standard" *ngIf="dataSource.data.length > 0">
                <mat-label>Filter</mat-label>
                <input matInput placeholder="Type here to filter by title or description" #inputFilter (keyup)="applyFilter($event)" name="home-stories-filter">
            </mat-form-field>
            <table mat-table matSort class="mat-elevation-z8 full-content-table ht-default" [dataSource]="dataSource" [hidden]="dataSource.data.length == 0">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                    <td mat-cell *matCellDef="let element"><span (click)="storyRowClick(element)">{{element.id}}</span></td>
                </ng-container>
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                    <td mat-cell *matCellDef="let element"><span (click)="storyRowClick(element)">{{element.title}}</span></td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                    <td mat-cell *matCellDef="let element"><span (click)="storyRowClick(element)">{{element.description | cutText:100 | convertToBr:'. '}}</span></td>
                </ng-container>
                <ng-container matColumnDef="game-start">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="primary" (click)="startGame(element)">
                            <mat-icon>start</mat-icon>&nbsp;<span *ngIf="!(isHandset$ | async)">Start game</span>
                        </button>
                        <button mat-raised-button color="primary" (click)="storyRowClick(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-raised-button color="primary" (click)="deleteStoryRowClick(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="3">No stories matches the filter</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 40, 100]" aria-label="Select page of stories"></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>
<app-game-list></app-game-list>