<div fxLayout="column" fxLayoutAlign="center center">
    <app-form-errors class="default-form" [formComponent]="this"></app-form-errors>
    <mat-card class="default-form">
        <app-loader-overlay [formComponent]="this"></app-loader-overlay>
        <mat-card-header>
            <mat-card-title>
                {{story.title}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <pre>{{story.description}}</pre>
        </mat-card-content>
        <mat-card-actions align="end">
            <a mat-raised-button [routerLink]="ht.getPathSecuredUpdateStory(story.id)" color="primary">Update</a>
        </mat-card-actions>
    </mat-card>

    <mat-card class="default-form">
        <mat-card-header>
            <mat-card-title>
                Scenes
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                A scene part is for example; a room in a castle or the whole castle, a forest overview to tell the introduction of your story, monster encounter, NPC conversations, etc. 
                <br><br>
                Within a scene part, you are able to execute actions such as; show an image, play audios, show text overlay, etc. To make it easier for you, these actions
                are grouped within commands or buttons, so you can execute multiple actions at the same time, instead of individually.<br>
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <a mat-raised-button (click)="addStoryPart()" color="primary">Add Part</a>
        </mat-card-actions>
    </mat-card>
</div>
<app-create-story-scene [hidden]="!showAddPart" (finishedEvent)="addStoryPartFinished($event)" [args]="{storySceneId:story.id}"></app-create-story-scene>

<div *ngFor="let model of story.storyScenes">
    <app-edit-story-scene [model]="model" (deletedEvent)="onStorySceneDelete($event)"></app-edit-story-scene>
</div>