// dashboard

.fixed-dashboard-left{
    margin-left: 0px;margin-right:20px;
  }
  
  .fixed-dashboard-left mat-expansion-panel {
    margin-bottom: 15px !important;
  }
  
  .fixed-dashboard-left mat-accordion {
    margin-bottom: 15px !important;
  }